# Server
NODE_ENV=production
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://manish:manish18@cluster0.8nmyr.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Client URL (for CORS in development)
CLIENT_URL=https://team-task-manager-git-main-manishshukla0018s-projects.vercel.app
